# Virtual Environment
.venv/

# Translations
*.mo
*.pot

# PyBuilder
target/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini 